body {
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f5d259;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header a {
  text-decoration: none;
  color: #000;
}

#labyrinthe {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

#labyrinthe h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#labyrinthe p {
  font-size: 20px;
  margin-bottom: 20px;
}

#labyrinthe ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#labyrinthe li {
  font-size: 18px;
  margin-bottom: 10px;
}

#explication {
  background-color: #f5d259;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#explication h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#explication p {
  font-size: 20px;
  margin-bottom: 20px;
}

#matter {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvasbox {
  display: inline-block;
  margin: 10px;
}


#trackbutton {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.updatenote {
  font-size: 16px;
  margin-left: 20px;
}
